/* body {
      background-color: #000000;
      color: #fff;
      background-image: url("/public/assets/red-desktop.jpg");
      background-position:top;
      background-repeat: no-repeat;
      background-size:cover;
} */