.videos_container {
      height: 100vh;
      
      margin: 13rem 5rem 0 5rem;
      /* border: 5px solid red; */
}

.nav_categories {
      font-weight: 600;
      cursor: pointer;
      font-size: 1.3rem;
	padding: 0 0.3rem;
	letter-spacing: 0.1rem;
	transition: all 0.8s ease-out;
	color: var(--primary-color);
	font-family: var(--ff-barlow);
	background-color: var(--grey-color);
}

.videolist {
      gap: 2rem;
}