.videos_container {
    height: 100vh;
    margin: 13rem 7.8rem 0 6.5rem;
}

.vid_categories {
    gap: 3rem;
}

.nav_categories {
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.6rem 1rem;
    letter-spacing: 0.1rem;
    color: var(--primary-color);
    font-family: var(--ff-barlow);
    background-color: var(--grey-color);
    border: none;
    border-radius: 8px;
}

.videolist {
    display: grid;
    height: 100vh;
    grid-gap: 2.5rem;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin-top: 5rem;
}

.category_active {
    background-color: var(--red-color);
    color: white;
}