.history_container {
      margin-top: 10rem;
      height: 100vh;
}

.clear_all_btn {
      align-self: center;
      margin-right: 8rem;
}

.delete_all_icon {
      font-size: 0.8rem;
      right: 0.5rem;
      cursor: pointer;
      color: var(--grey-color);
}

.delete_all_icon:hover {
      color: var(--white-color);
}

.clear_all_text {
      padding-left: 0.4rem;
      font-size: 0.62rem;
      color: var(--white-color);
      font-family: var(--ff-barlow);
}

.history_list {
      margin: 3rem 7.8rem 0 6.5rem;
}