.playlist_wrapper {
      height: 100vh;
      margin: 13rem 7.8rem 0 6.5rem;
}

.playlist_container {
      width: 15rem;
      height: 15rem;
      border: 1px solid var(--white-color);
      margin: 0 auto;
      gap: 2rem;
}

.music_icon {
      font-size: 5rem;
      color: var(--grey-color);
}

.add_btn {
      font-size: 1.3rem;
      cursor: pointer;
      color: var(--cta-sec-color);
}

