.list_wrapper {
      height: 100vh;
      margin: 13rem 7.8rem 0 6.5rem;
}

.list_container {
      width: 15rem;
      height: 15rem;
      border: 1px solid var(--white-color);
      margin: 0 auto;
      gap: 2rem;
}

.music_icon {
      font-size: 5rem;
      color: var(--grey-color);
}

.add_btn {
      font-size: 1.3rem;
      cursor: pointer;
      color: var(--cta-sec-color);
}

.clear_all_btn {
      align-self: center;
      margin-right: 8rem;
}

.create_playlist_btn {
      border: 1px solid white;
      color: black;
      padding: 0.2rem 1rem;
}

.playlist_text {
      font-size: 0.8rem;
}

/* Modal */

.create_playlist_modal_wrapper {
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 99;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, .5);
}

.create_playlist_modal {
      border-radius: 0.5rem;
      max-width: 45rem;
      background-color: var(--auth-color);
}

.create_playlist_modal .input {
      border-bottom: 1px solid var(--auth-color);
}

.create_playlist_modal .btn_playlist_create {
      width: 100%;
      border: 0;
      cursor: pointer;
      
      background-color: var(--auth-color);
}

.create_playlist_modal .icon_circle_plus {
      margin-right: 0.5rem;
      cursor: pointer;
}

.modal_close_button {
      padding: 0.5rem;
      border-bottom: 1px solid grey;
}

.input_playlist_wrapper .input{
      /* background-color: var(--auth-color); */
}

.listItems_wrapper {
      margin: 0 7.8rem 0 6.5rem;
}

.playlist_container {
      display: grid;
      height: 100vh;
      grid-gap: 2.5rem;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      margin: 1rem 7.8rem 0 6.5rem;
}