:root {
      --prim-color: #0e0e0e;
      --sec-color: #878787;
      --cta-prim-color: #e50914;
      --cta-sec-color: #db0510;

      --ff-barlow: 'Barlow', sans-serif;
      --ff-roboto: 'Roboto', sans-serif;
      --ff-lora: 'Lora', serif;
      --ff-poppins: 'Poppins', sans-serif;
}

body {
      background-color: var(--prim-color);
	color: var(--sec-color);
}